
QuickGainCalc.xcodeproj/xcuserdata/kyle.xcuserdatad/xcschemes/xcschememanagement.plist

QuickGainCalc.xcodeproj/project.xcworkspace/xcuserdata/kyle.xcuserdatad/UserInterfaceState.xcuserstate

QuickGainCalc.xcodeproj/xcuserdata/kyle.xcuserdatad/xcschemes/QuickGainCalc.xcscheme

QuickGainCalc.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.DS_Store

QuickGainCalc.xcodeproj/xcuserdata/kyle.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
